.borderBottom {
    position: relative;
}

.borderBottom::after {
    content: "";
    position: absolute;
    bottom: 0;
    top: 25px;
    left: 0;
    width: 0;
    height: 4px;
    background-color: transparent;
    transition: width 0.3s ease, background-color 0.3s ease;
}

.borderBottom:hover::after {
    width: 100%;
    background-color: white;
}

